extends layout

mixin generateCircle(name, id, url)
    a(href='#{url}', target='_blank')
        div.link
            div(class='circle', id='#{id}')
            p= name

mixin generateUnlinkedCircle(name, id, username)
    div.non-link
        div(class='circle', id='#{id}')
        p #{name}
        p #{username}

block content
    h1 リンク
    section
        h2 自己コンテンツ
        mixin generateCircle('Wishlist', 'wishlist', 'https://wishlist.hideo54.com')
        mixin generateCircle('Blog', 'blog', 'https://blog.hideo54.com')
        h2 SNS
        mixin generateCircle('Twitter', 'twitter', 'https://twitter.com/hideo54')
        mixin generateCircle('Facebook', 'facebook', 'https://www.facebook.com/hideo54')
        mixin generateCircle('Tumblr', 'tumblr', 'http://tumblr.hideo54.com')
        mixin generateCircle('Ask.fm', 'ask', 'http://ask.fm/ask_hideo54')
        mixin generateCircle('Google+', 'google', 'https://plus.google.com/105693738980996761708/posts')
        mixin generateCircle('LinkedIn', 'linkedin', 'https://www.linkedin.com/pub/hideo-yasumoto/a0/a02/24a')
        mixin generateCircle('Favstar', 'favstar', 'http://favstar.fm/users/hideo54')
        mixin generateCircle('Booklog', 'booklog', 'http://booklog.jp/users/hideo54')
        mixin generateCircle('Hatena', 'hatena', 'http://profile.hatena.ne.jp/hideo54/')
        mixin generateCircle('Foursquare', 'foursquare', 'https://ja.foursquare.com/hideo54')
        mixin generateCircle('AnimeTick', 'animetick', 'http://animetick.net/users/hideo54')
        h2 Photos
        mixin generateCircle('Instagram', 'instagram', 'http://instagram.com/hideo54/')
        mixin generateCircle('pixiv', 'pixiv', 'http://pixiv.me/hideo54')
        h2 Videos
        mixin generateCircle('YouTube', 'youtube', 'https://www.youtube.com/channel/UCrsDu6krWbTBlE-Dta8Kcog')
        mixin generateCircle('ニコニコ動画', 'nicovideos', 'http://www.nicovideo.jp/user/28234132')
        mixin generateCircle('Vine', 'vine', 'https://vine.co/u/1112344694186508288')
        h2 Tech
        mixin generateCircle('GitHub', 'github', 'https://github.com/hideo54')
        mixin generateCircle('SlideShare', 'github', 'http://www.slideshare.net/the-hideo54')
        h2 Chat
        mixin generateUnlinkedCircle('Skype', 'skype', 'tw-hideo54')
        mixin generateUnlinkedCircle('LINE', 'line', 'hideo54')
        mixin generateUnlinkedCircle('Yo', 'yo', 'hideo54')
        h2 Others
        mixin generateUnlinkedCircle('GameCenter', 'gamecenter', 'the-hideo54')
        mixin generateUnlinkedCircle('Wikipedia', 'wikipedia', 'hideo54')
