extends _layout

block head
    title Accounts
    link(rel='amphtml', href='https://hideo54.com/accounts?amp=1')

block content
    h1 アカウント一覧
        each section, kind in accounts
            h2= kind
            each account in section
                .account
                    if account.link
                        a(href=account.link, target='_blank')
                            .circle(id=account.id)
                            .text
                                p= account.name
                                if account.username
                                    p= account.username
                    else
                        .circle(id=account.id)
                        .text
                            p= account.name
                            if account.username
                                p= account.username
