extends _layout

block content
    h1 リンク
        each section, name in links
            h2= name
            each obj in section
                if obj.link
                    a(href=obj.link, target='_blank')
                        div.link
                            div.circle(id=obj.id)
                            p= obj.name
                else
                    div.non-link
                        div.circle(id=obj.id)
                        p= obj.name
                        p= obj.username
